.topicos{
    color: var(--branco);
    text-align: center;
    background: var(--azul-degrade);
    padding: 1.5em 0;
}

.topicos__titulo{
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item{
    background: var(--laranja);
    padding: 18px 24px;
    margin: 8px;
    border-radius: 5px;
}

.topicos__link{
    font-weight: 700;
    font-size: 14px;
}

@media screen and (min-width: 1024px){
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos{
        padding: 2em 15em 1.5em;
    }
}


@media screen and (min-width: 1724px){
    .topicos {
        padding: 1em 25em 4.5em;
    }

    .topicos__titulo {
        margin: 64px auto;
        font-size: 32px;
    }

    .topicos__link {
        font-size: 24px;
    }

    .topicos__item{
        padding: 34px 44px;
    }



}